* @plengauer @moflwi
VERSION
package.json
package-lock.json
requirements.txt
pom.xml
Dockerfile
/.github/images.json
/.github/aw/actions.lock.json
/.github/workflows/*.yml
/demos/*/README.md
/demos/*/otlp.json
/demos/*/output.stdout
/demos/*/output.stderr
