requests==2.32.5
opentelemetry-sdk==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-resourcedetector-docker==0.4.0
opentelemetry-resourcedetector-kubernetes==0.3.0
opentelemetry-sdk-extension-aws==2.1.0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-resourcedetector-gcp==1.10.0a0
