opentelemetry-distro==0.54b1
opentelemetry-exporter-otlp==1.33.1
opentelemetry-api==1.33.1 # this is just to fix a relaxed indirect dependency to help old package managers
opentelemetry-sdk==1.33.1 # this is just to fix a relaxed indirect dependency to help old package managers