opentelemetry-distro==0.55b1
opentelemetry-exporter-otlp==1.34.1
opentelemetry-api==1.34.1 # this is just to fix a relaxed indirect dependency to help old package managers
opentelemetry-sdk==1.34.1 # this is just to fix a relaxed indirect dependency to help old package managers
