opentelemetry-instrumentation==0.64b0
opentelemetry-distro==0.64b0
opentelemetry-exporter-otlp==1.43.0
opentelemetry-resourcedetector-docker==0.4.0
opentelemetry-resourcedetector-kubernetes==0.3.0
opentelemetry-sdk-extension-aws==2.1.0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-resourcedetector-gcp==1.12.0a0
openinference-instrumentation-openai==0.1.52; python_version >= "3.10"
openinference-instrumentation-anthropic==1.0.6; python_version >= "3.10"
openinference-instrumentation-langchain==0.1.67; python_version >= "3.10"
openinference-instrumentation-google-genai==1.2.0; python_version >= "3.10"
openinference-instrumentation-bedrock==0.1.43; python_version >= "3.10"
openinference-instrumentation-mistralai==2.0.4; python_version >= "3.10"
openinference-instrumentation-groq==0.1.16; python_version >= "3.10"
openinference-instrumentation-vertexai==0.1.16; python_version >= "3.10"
openinference-instrumentation-llama-index==4.4.3; python_version >= "3.10"
openinference-instrumentation-haystack==0.1.34; python_version >= "3.10"
openinference-instrumentation-crewai==1.1.10; python_version >= "3.10"
openinference-instrumentation-dspy==0.1.37; python_version >= "3.10"
