name: Autoapprove Workflow Run
on:
  workflow_run:
    workflows: [OpenTelemetry]
    types: [completed]
    branches: [main]
jobs:
  approve:
    if: ${{ github.event.workflow_run.conclusion == 'action_required' && github.event.workflow_run.head_repository.full_name == github.repository.full_name }}
    runs-on: ubuntu-slim
    permissions:
      actions: write
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.45.1
        with:
          secrets_to_redact: '["${{ github.token }}", "${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - env:
          GH_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          RUN_ID: ${{ github.event.workflow_run.id }}
        run: gh api --method POST /repos/$GITHUB_REPOSITORY/actions/runs/$RUN_ID/approve
