name: Autoversion

on:
  schedule:
    - cron: '0 0 * * 2'
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.14.0
        with:
          secrets_to_redact: '${{ toJSON(secrets) }}'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - uses: plengauer/autoversion@v0.17.6
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          openai_token: ${{ secrets.OPENAI_TOKEN }}
          path_include: ./src:./actions
