name: Autoapprove Workflow Runs
on:
  workflow_run:
    workflows: ['*']
    types: [completed]
jobs:
  approve:
    if: ${{ github.event.workflow_run.conclusion == 'action_required' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-slim
    permissions:
      actions: write
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.43.1
        with:
          secrets_to_redact: '["${{ github.token }}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - env:
          GH_TOKEN: ${{ github.token }}
          RUN_ID: ${{ github.event.workflow_run.id }}
        run: gh api --method POST /repos/$GITHUB_REPOSITORY/actions/runs/$RUN_ID/approve
