
on:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.45.1
        env:
          OTEL_TRACES_EXPORTER: deferred
          OTEL_METRICS_EXPORTER: deferred
          OTEL_LOGS_EXPORTER: deferred
        with: {}
      - run: printenv
