name: Experiment
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/experiment.yml
jobs:
  env:
    strategy:
      matrix:
        runner: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.runner }}
    permissions:
      actions: read
    steps:
      - run: printenv
  experiment:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      actions: read
    steps:
      - run: |
          type awk
          which awk
          dpkg -S "$(which awk)"
          echo 'Depends: coreutils, util-linux, findutils, python3 (>= 3.9), python3-pip, python3-venv, tar, grep, sed, awk, dpkg, procps, jq, xxd, libc-bin' | grep -E '^Pre-Depends:|^Depends:' | cut -d ':' -f 2- | tr ',' '\n' | grep -v '|' | tr -d ' ' | cut -d '(' -f 1 | sed 's/awk/gawk/g' | xargs -I '{}' ls -la /var/lib/dpkg/info/'{}'.list
