name: Experiment
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/experiment.yml
jobs:
  env:
    strategy:
      matrix:
        runner: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.runner }}
    permissions:
      actions: read
    steps:
      - run: printenv
  experiment:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      id-token: write
      attestations: write
      packages: write
    steps:
      - run: sudo docker save ubuntu:latest > opentelemetry-github-workflow-instrumentation-runner.image
      - run: |
          version="0.0.0"
          major=$(echo "$version" | cut -d . -f 1)
          minor=$(echo "$version" | cut -d . -f 2)
          patch=$(echo "$version" | cut -d . -f 3)
          echo ${{ github.token }} | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
          find . -iname '*.image' | while read -r image_file; do
            sudo docker load < "$image_file"
            image_name="$image_file"
            image_name="${image_name#./}"
            image_name="${image_name%.image}"
            for tag_simple in "v${major}.${minor}.${patch}" "v${major}.${minor}" "v${major}" "${{ matrix.ref }}"; do
              tag_full=ghcr.io/"${GITHUB_REPOSITORY%/*}"/"$image_name":"$tag_simple"
              sudo docker image tag "$image_name" "$tag_full"
            done
            sudo docker image remove "$image_name"
            sudo docker push "ghcr.io/${GITHUB_REPOSITORY%/*}/$image_name" --all-tags
          done
    
