name: OpenTelemetry
on:
  workflow_run:
    workflows: [.github/workflows/copilot-setup-steps.yml, Analyze, Autorerun, Autoversion Main, Autoversion Release, Backport, Build, CI, Copilot coding agent, Experiment, GitHub, Greetings, Initialize Fork, Performance GitHub Job, Publish, Refresh Demos, Renovate, Shell, Test, Update Debian Repository, Workflow Example]
    types:
      - completed
jobs:
  export:
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/workflow@v5.45.1
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
          OTEL_SHELL_SDK_OUTPUT_REDIRECT: '/dev/stderr'
    container: ghcr.io/plengauer/opentelemetry-github-workflow-instrumentation-runner:v5.45.1
