name: OpenTelemetry
on:
  workflow_run:
    workflows: [Analyze, Autoapprove, Autorerun, Autoversion, Autoversion Release, Backport, Build, .github/workflows/copilot-setup-steps.yml, Experiment, Greetings, Performance GitHub Job, Publish, Refresh Demos, Renovate, Test, GitHub, Shell, Workflow Example, Copilot coding agent]
    types:
      - completed
jobs:
  export:
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/workflow@v5.33.2
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
          OTEL_SHELL_SDK_OUTPUT_REDIRECT: '/dev/stderr'
    container: ghcr.io/plengauer/opentelemetry-github-workflow-instrumentation-runner:v5.33.1
