name: OpenTelemetry
on:
  workflow_run:
    workflows: [Analyze, Autoapprove, Autorerun, Autoversion, Experiment, Greetings, Publish, Refresh Demos, Renovate, Test, GitHub, Workflow Example]
    types:
      - completed
jobs:
  export:
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/workflow@v5.22.5
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
          OTEL_SHELL_SDK_OUTPUT_REDIRECT: '/dev/stderr'
