name: Publish
on:
  push:
    paths: VERSION
    branches: main
jobs:
  test:
    permissions:
      actions: write
      attestations: none
      checks: none
      contents: read
      deployments: none
      discussions: none
      id-token: none
      issues: none
      models: none
      packages: read
      pages: none
      pull-requests: none
      security-events: none
      statuses: none
    secrets: inherit
    uses: ./.github/workflows/test.yaml
  publish:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      id-token: write
      attestations: write
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.24.1
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - uses: actions/checkout@v5.0.0
      - run: echo "version=$(cat VERSION)" >> "$GITHUB_OUTPUT"
        id: version
      - uses: actions/download-artifact@v5.0.0
        with:
          name: packages
      - uses: actions/attest-build-provenance@v2.4.0
        with:
          subject-path: ./package.deb
          subject-name: opentelemetry-shell_${{ steps.version.outputs.version }}.deb
      - uses: actions/attest-build-provenance@v2.4.0
        with:
          subject-path: ./package.rpm
          subject-name: opentelemetry-shell_${{ steps.version.outputs.version }}.rpm
      - uses: actions/create-release@v1.1.4
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.version.outputs.version }}
          release_name: Release v${{ steps.version.outputs.version }}
          draft: true
          prerelease: false
      - uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./package.deb
          asset_name: opentelemetry-shell_${{ steps.version.outputs.version }}.deb
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./package.rpm
          asset_name: opentelemetry-shell_${{ steps.version.outputs.version }}.rpm
          asset_content_type: application/octet-stream
      - uses: eregon/publish-release@v1.0.6
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.create_release.outputs.id }}
