name: Renovate
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
concurrency:
  group: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: none
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.18.2
        with:
          secrets_to_redact: '${{ toJSON(secrets) }}'
          self_monitoring: true
          self_monitoring_anonymize: false
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - uses: renovatebot/github-action@v42.0.4
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
