name: Test
on:
  push:
    branches:
      - "main"
      - "release/v*"
  pull_request:
    branches:
      - "main"
      - "release/v*"
jobs:
  ci:
    permissions:
      actions: write
      attestations: none
      checks: none
      contents: read
      deployments: none
      discussions: none
      id-token: none
      issues: none
      models: none
      packages: read
      pages: none
      pull-requests: none
      security-events: none
      statuses: none
    secrets: inherit
    uses: ./.github/workflows/ci.yml
    with:
      ref: ${{ github.sha }}
